<form method="post" action="{{ path('app_civilisation_delete', {'id': civilisation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ civilisation.id) }}">
    <button class="button-5">Delete</button>
</form>
