{% extends 'base.html.twig' %}

{% block title %}New Reservation Hotel{% endblock %}

{% block body %}
<br><br><br>
    <h1> new Reservation Hotel</h1>
<br><br><br>
    {{ include('reservation_hotel/_form.html.twig') }}
{% endblock %}
