{% extends 'base.html.twig' %}

{% block title %}New ReservationRestaurant{% endblock %}

{% block body %}
<br><br><br>
    <h1>Reserver Restaurant </h1>

    {{ include('reservation_restaurant/_form.html.twig') }}

{% endblock %}
