{% extends 'base.html.twig' %}

{% block title %}New ReservationProgramme{% endblock %}

{% block body %}
<br><br><br>
    <h1> Reserver Programme</h1>

    {{ include('reservation_programme/_form.html.twig') }}

{% endblock %}
